<p *ngIf="newMovie.name.length >= 1 && newMovie.name.length < 3" class="text-danger">Title must be at least 3 characters</p>
<p *ngIf="newReview.name.length >= 1 && newReview.name.length < 3" class="text-danger">Reviewer name must be at least 3 characters</p>
<p *ngIf="newReview.comment.length >= 1 && newReview.comment.length < 3" class="text-danger">Comment must be at least 3 characters</p>

<form (submit)="onSubmit()">
  <div class="form-group row"> 
    <label class="col-sm-2 col-form-label">Movie Title:</label>
    <div class="col-sm-5"><input type="text" name="newMovie.name" [(ngModel)] = "newMovie.name" class="form-control"/></div>
  </div>

  <div class="form-group row"> 
    <label class="col-sm-2 col-form-label">Reviewer:</label>
    <div class="col-sm-5"><input type="text" name="newReview.name" [(ngModel)]="newReview.name" class="form-control"/></div>
  </div>

  <div class="form-group row"> 
    <label class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-2"><select name="newReview.rating" [(ngModel)]="newReview.rating" class="form-control">
      <option value="1">1 Stars</option>
      <option value="2">2 Stars</option>
      <option value="3">3 Stars</option>
      <option value="4">4 Stars</option>
      <option value="5">5 Stars</option>
    </select></div>
  </div>
  <div class="form-group row"> 
    <label class="col-sm-2 col-form-label">Comment</label>
    <div class="col-sm-6"><textarea name="newReview.comment" [(ngModel)]="newReview.comment" class="form-control"></textarea></div>
  </div>
  <button type="submit" [disabled]="newMovie.name.length < 3 || newReview.name.length < 3 || newReview.comment.length < 3 || newReview.rating < 1 || newReview.rating > 5" class="btn btn-success">Submit</button>
  <button [routerLink] = "['/movie']" class="btn btn-outline-danger">Cancel</button>
</form>