<form (submit)="onSubmit()">
    <!-- <p>{{editingMovie | json}}</p> -->
    <p *ngIf="editingMovie.name.length >= 1 && editingMovie.name.length < 3" class="text-danger">Title must be at least 3 characters</p>
    
    <div class="form-group row"> 
      <label class="col-sm-2 col-form-label">Movie Title:</label>
      <div class="col-sm-10">
        <input type="text" name="editingMovie.name" [(ngModel)] = "editingMovie.name" [value]="editingMovie.name" class="form-control"> 
      </div>
    </div>
    <button type="submit" [disabled]="editingMovie.name.length < 3 " class="btn btn-success">Submit</button>
  </form>
  <button [routerLink] = "['/movie']" class="btn btn-danger">Cancel</button>